* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-image: url("backimg.png");
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat; 
}


.logo img{
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  margin-right: 50px;
  margin-top: 20px;
}

nav div{
    font-size: larger;
    color: darkmagenta;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  font-size: 15px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 18px;
}
i {
  margin-right: 8px;
  color: #000;
}
nav ul li a:hover {
  color:purple;
}

header {
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    color: white;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
}

/* Section */
.admission {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.admission h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.admission p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

/* Form Section */
.form-section {
    background: white;
    padding: 30px;
    margin-top: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Inputs */
form input,
form textarea {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
    transition: 0.3s;
}
